<div class="row">
  <div class="col-4">
    <img src="assets/images/bookstore.jpg" width=100%>
  </div>
  <div class="col-8">
    <h2>  Knjižara za prodaju stranih i domacih knjiga! </h2>
    <p>    
      Naša vizija je da pružimo isporuku knjiga širom sveta i da omogućimo čitaocima da brzo i lako pretražuju knjige od interesa. Koristite naš sajt da pronađete slike koje su na popustu, najprodavanije knjige ili samo one koje jednostavno imaju nabolje ocene na osnovu mišljenja naših vernih čitaoca.
    </p>
    <p>
      <b>TODO: Implementirati Bookstore i About stranice prema specifikaciji zadatka.</b>
    </p>
  </div>
</div>